@if (productDetails) {
    <section>
        <h2 class="text-center capitalize text-2xl font-extrabold text-green-700 mt-10 mb-3">{{"details.product"|translate}} {{"details.Details"|translate}}</h2>
        <div class="container">
            <div class="grid grid-cols-2 bg-white ">
                <div class="mt-3">
                    <!-- <img class="w-3/4 mx-auto h-[50%] object-fill " [src]="productDetails.imageCover" [alt]="productDetails.title"> -->
                    @if (productDetails.images) {
                        <owl-carousel-o class="" [options]="productImages">

                            @for(imgSrc of productDetails.images ; track $index) {
                                <ng-template carouselSlide >
                                    <img class="w-full p-2" [src]="imgSrc" [alt]="productDetails.title" >
                                  </ng-template>
                            }
                           
                        
                          </owl-carousel-o>
                        <!--  <div class="flex justify-between items-center">
                            @for (image of productDetails.images; track $index) {
                                <div class="grid  my-5">
                                    <img class="w-full" [src]="image" [alt]="productDetails.title">
                                </div>
                            } -->
                    }
                </div>
                <div class="mt-3 p-3">
                    <h3 class="text-xl py-5"> {{productDetails.title}} </h3>
                    <p class="text-xl text-gray-500 mb-10 "> {{productDetails.description}} </p>
                    <h4 class="text-lg mb-3 text-green-700 "> {{productDetails.category.name}} </h4>
                    <div class="flex justify-between items-center pb-10">
                        <span> {{productDetails.price | currency :'GBP'}}  </span>
                       
                        <div>
                            @for (num of [1,2,3,4,5].slice(0,productDetails.ratingsAverage); track $index) {
                                <span> <i class="fas fa-star text-yellow-500"></i> </span>
                            }
                            @if ((productDetails.ratingsAverage)%1 !==0) {
                                <i class="fas fa-star-half-stroke text-yellow-500"></i> 
                            }
                                <span> {{productDetails.ratingsAverage}} </span>
                        </div>
                    </div>
                    <div class="flex items-center justify-center space-x-2">
                        <button class="border text-white bg-green-500 rounded-md px-10 py-2 w-[90%] block mx-auto" (click)="addToCart(productDetails.id)" >
                            <i class="fa-solid fa-cart-shopping"></i>
                            {{"home.Cart"|translate}}</button>
                            @if(wishList().includes(productDetails.id)){
                                <i  (click)="handelDeleteFromWishList(productDetails.id)" class="fa-solid fa-heart text-red-500 text-3xl pe-1"></i>
            
                            }
                            @else {
                                <i (click)="handelAddToWishList(productDetails.id)" class="fa-solid fa-heart text-3xl pe-1"></i>
            
                            }
            
                        </div>
    
                </div>
            </div>
        </div>
    </section>
}
