<section class="w-1/2 mx-auto p-4 bg-gray-50 border rounded-xl shadow-2xl">
    <h1 class="text-3xl text-green-600 font-medium text-center ">{{"login.Log"|translate}} {{"login.in"|translate}} {{"login.Now"|translate}}</h1>
   
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" >
    
     
    
        <div class="mb-2">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                {{"login.email"|translate}}
            </label>
            <input  formControlName="email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
           
            @let emailControl=loginForm.get('email');
            @if (emailControl?.errors && emailControl?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                          @if (emailControl?.getError('required')) {
                            <li>{{"register.the"|translate}} {{"register.email"|translate}} {{"register.is"|translate}} {{"register.required"|translate}}</li>

                          } 
                          @else  {
                            <li>{{"register.Please"|translate}} {{"register.enter"|translate}} {{"register.a"|translate}} {{"register.valid"|translate}} {{"register.email"|translate}} {{"register.address"|translate}}.</li>

                          }
 
                      </ul>
                    </div>
                  </div>
            }

        </div>
    
        <div class="mb-2">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                {{"login.password"|translate}}
            </label>
            <input  formControlName="password" type="password" id="password" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
           
            @let passwordControl=loginForm.get('password');
            @if (passwordControl?.errors && passwordControl?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                          @if (passwordControl?.getError('required')) {
                            <li>{{"register.the"|translate}} {{"register.password"|translate}} {{"register.is"|translate}} {{"register.required"|translate}}</li>

                          } 
                          @else  {
                            <li>{{"register.The"|translate}} {{"register.password"|translate}} {{"register.must"|translate}} {{"register.start"|translate}} {{"register.with"|translate}} {{"register.an"|translate}} {{"register.uppercase"|translate}} {{"register.letter"|translate}} {{"register.and"|translate}} {{"register.be"|translate}} {{"register.followed"|translate}} {{"register.by"|translate}} {{"register.at"|translate}} {{"register.least"|translate}} {{"register.5"|translate}} {{"register.alphanumeric"|translate}} {{"register.characters"|translate}} ({{"register.letters"|translate}}, {{"register.numbers"|translate}}, {{"register.or"|translate}} {{"register.underscores"|translate}}).</li>

                          }
                         
                      </ul>
                    </div>
                  </div>
            }
        </div>
    
     
    <div class="flex justify-end items-center space-x-3">
      <a routerLink="/forget" class="hover:text-blue-900">{{"login.Forget"|translate}} {{"login.password"|translate}} </a>
      <button [disabled]="loading" type="submit"  class=" mainButton mb-2 ">
            {{"login.Login"|translate}}
            @if (loading) {
                <i class="fas fa-spin fa-spinner"></i>
            }
        </button>
       

    </div>
    <!-- @if (messageError) {
        <p class="bg-red-400 text-white px-2 py-4 border text-3xl text-center"> {{messageError}} </p>
    }
    @if (success) {
        <p class="bg-green-400 text-white px-2 py-4 border text-3xl text-center"> Successful Operation </p>
    } -->
    
    </form>
</section>
