<section>
    <div class="flex flex-wrap ">
        <div class="w-[70%]">
            <owl-carousel-o [options]="mainSliderOptions">
                <ng-template carouselSlide>
                    <img src="/images/img1.avif" class="w-full h-[300px]" alt="{{'home.avife'|translate}} {{'home.picture'|translate}}">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="/images/img2.avif" class="w-full h-[300px]" alt="{{'home.avife'|translate}} {{'home.picture'|translate}}">
                </ng-template> <ng-template carouselSlide>
                    <img src="/images/img3.avif" class="w-full h-[300px]" alt="{{'home.avife'|translate}} {{'home.picture'|translate}}">
                </ng-template> <ng-template carouselSlide>
                    <img src="/images/img4.avif" class="w-full h-[300px]" alt="{{'home.avife'|translate}} {{'home.picture'|translate}}">
                </ng-template> <ng-template carouselSlide>
                    <img src="/images/img5.avif" class="w-full h-[300px]" alt="{{'home.avife'|translate}} {{'home.picture'|translate}}">
                </ng-template>
    
                <ng-template carouselSlide>
                    <img src="/images/img6.avif" class="w-full h-[300px]" alt="{{'home.avife'|translate}} {{'home.picture'|translate}}">
                </ng-template>
    
                <ng-template carouselSlide>
                    <img src="/images/img7.avif" class="w-full h-[300px]" alt="{{'home.avife'|translate}} {{'home.picture'|translate}}">
                </ng-template>
    
            </owl-carousel-o>
        </div>
        


        <div class="w-[30%]">
            <img src="/images/grocery-banner.png" class="w-full h-[150px] " alt="grocery-banner">
            <img src="/images/grocery-banner-2.jpeg" class="w-full h-[150px]" alt="grocery-banner-2">
        </div>
    </div>
</section>

<section>
    <h2 class="capitalize text-3xl pb-4">{{"home.popular"|translate}} {{"home.categories"|translate}}</h2>
    <owl-carousel-o [options]="customOptions">
        @for (category of categories(); track category._id) {
        <ng-template carouselSlide>
            <figure >
                <img class="w-full h-[250px] " [src]=" category.image" [alt]="category.name">
                <p class="text-green-600"> {{ category.name }} </p>
            </figure>

        </ng-template>
        }


    </owl-carousel-o>
</section>

<section>

    <h2 class="capitalize text-3xl pb-4 ">{{"home.popular"|translate}} {{"home.products"|translate}}</h2>
    
    <input [(ngModel)]="text"  type="search"  placeholder="Search By Name....." class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg w-3/4 mx-auto my-5 focus:ring-green-500 focus:border-green-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-10">
        @for (product of products().slice(0,12) |search: text().toLowerCase(); track product.id) {
        <div class="card border  bg-white border-green-400/50 rounded-md overflow-hidden shadow relative">
         <div [routerLink]="['/details',product.id]">
            <picture class="card-img">
                <img [src]="product.imageCover" class="w-full h-[250px] object-contain " [alt]="product.title" />
            </picture>
            <div class="card-body px-2 py-4">
                <h3 class="text-green-600 text-xs">{{ product.category.name }}</h3>
                <h4 class="font-medium ">{{product.title.split(" ",2).join(" ")}}</h4>
                <div class="flex justify-between items-center">
                    <span>{{product.price | currency: 'GBP'}} </span>
                    <div class="flex items-center">
                        <i class="fas fa-star text-yellow-300"></i>
                        <span class="text-gray-500">{{ product.ratingsAverage }}</span>
                    </div>
                </div>
                <!-- <p> {{product.}} </p> -->
            </div>

         </div>
         <div class="flex items-center justify-center space-x-2">
            <button class="border text-white bg-green-500 rounded-md px-10 py-2 w-[90%] block mx-auto" (click)="addToCart(product.id)" >
                <i class="fa-solid fa-cart-shopping"></i>
                {{"home.Cart"|translate}}</button>
                @if(wishList().includes(product.id)){
                    <i  (click)="handelDeleteFromWishList(product.id)" class="fa-solid fa-heart text-red-500 text-2xl pe-1"></i>

                }
                @else {
                    <i (click)="handelAddToWishList(product.id)" class="fa-solid fa-heart text-2xl pe-1"></i>

                }

            </div>
            
        </div>
        }

    </div>
</section>