.card{
    button{
        opacity: 0;
        // transform: translateY(100%);
        transition: all .3s ease-in-out;
    }
    &:hover{
        button{
            opacity: 1;
            transform: rotate(360deg);
            // transform: translateY(0);
        }
    }
    
}