<footer class="bg-gray-200 py-10">
    <div class="container mx-auto">
      <h2 class="m-0 text-2xl">{{"footer.Get"|translate}} {{"footer.The"|translate}} {{"footer.FreshCart"|translate}} {{"footer.App" |translate}}</h2>
      <p class="text-gray-500 text-sm">
        {{"footer.We"|translate}} {{"footer.Will"|translate}} {{"footer.Send"|translate}} {{"footer.You"|translate}} {{"footer.a"|translate}} {{"footer.Link"|translate}}, {{"footer.Open"|translate}} {{"footer.it"|translate}} {{"footer.on"|translate}} {{"footer.Your"|translate}} {{"footer.Phone"|translate}} {{"footer.to"|translate}} {{"footer.download"|translate}} {{"footer.the"|translate}} {{"footer.app"|translate}}
      </p>
  
      <!-- inputs design  -->
      <div class="flex items-center gap-3 text-nowrap">
        <input type="text" class="w-full rounded-lg border-gray-300 my-6" placeholder="Email" />
        <button class="mainButton">{{"footer.Share"|translate}} {{"footer.App"|translate}} {{"footer.Link"|translate}}</button>
      </div>
  
      <hr class="bg-gray-700"/>
  
      <!-- footer payment Details Design  -->
      <div class="pay-details md:flex items-center justify-between my-5">
        <div class="flex items-center gap-2">
          <h3 class="text-sm m-0">{{"footer.Payment"|translate}} {{"footer.partners"|translate}}</h3>
          <img src="./images/amazon-pay.png" width="50px" alt="amazon-pay" />
          <img
            src="./images/American-Express-Color.png"
            width="50px"
            alt=""
          />
          <img src="./images/paypal.png" width="50px" alt="paypal" />
          <img src="./images/mastercard.webp" width="50px" alt="mastercard" />
        </div>
  
        <div class="flex items-center gap-2">
        <h3 class="text-sm m-0">{{"footer.Get"|translate}} {{"footer.Deliveries"|translate}} {{"footer.with"|translate}} {{"footer.FreshCart"|translate}}</h3>
          <img src="/images/get-google-play.png" width="100px" alt="google-play" />
          <img src="/images/get-apple-store.png" width="100px" alt="apple-store" />
        </div>
      </div>
    </div>
  </footer>